#announcementbox{
    display: none;
}

.error-message{
    color: red;
}

.success-message{
    color: green;
}

.system-message{
    background-color:#f5f5f5;
    color: rgb(212, 214, 9);
}

.card{
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);
}

table{
    font-size: 14px;
}
#totalusers,#totalmessages,#toproom{
    font-weight: bold;
}